<template>
  <VApp>
    <VAppBar
      v-if="isAuthenticated"
      app
      dark
      color="primary"
    >
      <VToolbarTitle>
        Ayo Sekolah Admin
      </VToolbarTitle>
      <VSpacer />
      <VIcon class="mr-2">
        person_pin
      </VIcon>
      <VMenu offset-y>
        <template v-slot:activator="{ on }">
          <VBtn
            v-on="on"
            small
            icon
          >
            <VIcon>more_vert</VIcon>
          </VBtn>
        </template>
        <VList>
          <VListItem @click="handleLogout">
            <VListItemTitle>Log out</VListItemTitle>
          </VListItem>
        </VList>
      </VMenu>
    </VAppBar>
    <VContent>
      <router-view />
    </VContent>
  </VApp>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      isAuthenticated: 'isAuthenticated'
    })
  },

  methods: {
    handleLogout () {
      this.$store.commit('logout')

      this.$router.push({ name: 'login' })
    }
  }
}
</script>