<template>
  <div class="dashboard">
    <VContainer>
      <VDataTable
        :headers="headers"
        :items="items"
      >
        <template v-slot:top>
          <VToolbar
            flat
            color="grey lighten-3"
          >
            <VToolbarTitle>
              Donation Waiting to Verify
            </VToolbarTitle>
          </VToolbar>
        </template>
        <template v-slot:item.amount="{ item }">
          <td>{{ item.amount | rupiah }}</td>
        </template>
        <template v-slot:item.action="{ item }">
          <VBtn
            small
            color="primary"
            @click="handleDetail(item)"
          >
            Verify
          </VBtn>
        </template>
      </VDataTable>
    </VContainer>
  </div>
</template>

<script>
import axios from 'axios'
import cookie from 'js-cookie'

export default {
  name: 'Dashboard',

  computed: {
    accessToken () {
      return cookie.get('accessToken')
    }
  },

  data () {
    return {
      items: [],
      headers: [
        {
          text: 'ID',
          value: 'id'
        },
        {
          text: 'Donation ID',
          value: 'donation.data.id'
        },
        {
          text: 'Account Holder',
          value: 'accountHolder'
        },
        {
          text: 'Amount',
          value: 'amount'
        },
        {
          text: 'Actions',
          value: 'action'
        },
      ]
    }
  },

  methods: {
    async handleDetail (item) {
      const endpoint = 'api/donations/{id}/verify'
      const newEndpoint = endpoint.replace('{id}', item.id)

      try {
        const res = await axios.post(newEndpoint, {}, {
          baseURL: window.location.origin,
          headers: {
            Authorization: `Bearer ${this.accessToken}`
          }
        })

        if (res.status !== 200) return

        await this.fetch()
      } catch (err) {
        console.log(err)
      }
    },

    async fetch () {
      try {
        const res = await axios.get('api/donation-confirms', {
          baseURL: window.location.origin,
          headers: {
            Authorization: `Bearer ${this.accessToken}`
          }
        })

        const donations = res.data.data

        this.items = donations.filter(item => {
          return item.donation.data.status.data.id !== 3
        })
      } catch (err) {
        console.log(err)
      }
    }
  },

  filters: {
    rupiah (value) {
      return `Rp ${value}`
    }
  },

  async mounted () {
    await this.fetch()
  }
}
</script>