<template>
  <VContainer
    class="login"
    fluid
    fill-height
  >
    <VRow
      justify="center"
      align="center"
    >
      <VCol
        md="4"
        xs="12"
      >
        <VCard>
          <VCardTitle>
            Login
          </VCardTitle>
          <VCardText>
            <VForm>
              <VTextField
                required
                label="Email"
                append-icon="person"
                v-model="form.email"
              />
              <VTextField
                required
                type="password"
                label="Password"
                append-icon="lock"
                v-model="form.password"
              />
              <VBtn
                dark
                color="primary"
                block
                @click="handleLogin"
              >
                Login
              </VBtn>
            </VForm>
          </VCardText>
        </VCard>
      </VCol>
    </VRow>
  </VContainer>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Login',

  data () {
    return {
      form: {
        email: '',
        password: '',
      }
    }
  },

  methods: {
    async handleLogin () {
      const config = { baseURL: window.location.origin }

      try {
        const res = await axios.post('/oauth/token', {
          username: this.form.email,
          password: this.form.password,
          client_id: process.env.MIX_APP_CLIENT_ID,
          client_secret: process.env.MIX_APP_CLIENT_SECRET,
          grant_type: "password"
        }, config)

        this.$store.commit('authenticateSuccess', res.data.access_token)

        this.$router.push({ name: 'dashboard' })
      } catch (err) {
        console.log(err)
      }
    }
  }
}
</script>